extend ../../base

block content
   main.main
    .auth-form.text-center
      h2.heading-secondary.ma-bt-lg Verify Your Account
      form.form
        .form-group 
          p.form__label Hi #{firstName}, We're happy you signed up for Natours. To start exploring, please check your email to activate your account.